<!-- <div class="col-12 md:col-12 lg:col-12 main-header"> -->
<!-- <div fxFlex fxLayout fxFlexFill fxLayoutAlign="center center">
        <div class="col-12 md:col-6 lg:col-6 no-pad">
            <img src="assets/header/stalin.png" style="height: 76px" />
            <img src="assets/header/murasoli-new.jpg" style="width: 45%;" /> -->
<!-- <span>  -->
<!-- <button *ngIf="hide" pButton (click)="logout()" icon="pi pi-power-off" label="Logout"></button>
</span> -->
<div fxFlex fxLayout="row" style="background: rgb(176 9 9) !important">
    <div fxFlex>
        <div fxFlex.gt-sm="90%" fxFlex.lt-md="65%" fxFlex.lt-lg="90%" fxFlexFill
            style="align-self: center; text-align: center !important; padding-left: 12%;" fxHide.xs fxShow.md fxShow.lg>
            <div>
                &nbsp;
                <img src="assets/header/stalin.png" style="height: 75px" />
                <img src="assets/header/murasoli-new.jpg" style="width: 25%; height: 75px;" />
                <span>
                    <!-- <button  pButton (click)="logout()" icon="pi pi-power-off" label="Logout"></button> -->
                </span>
            </div>
        </div>
        <div fxFlex.gt-sm="10%" fxFlex.lt-md="35%" fxFlex.lt-lg="10%" fxLayoutAlign="center center" fxFlexFill
            style="color: rgb(22, 21, 21);">
            <!-- <span style="text-align: end;">
                <button style="border-radius: 50%" *ngIf="!hidebutton" pButton icon="pi pi-user"
                    (click)="op.toggle($event)"></button>
            </span> -->
            <span>
                <button style="border-radius: 20px;" *ngIf="!hidebutton" pButton (click)="logout()"
                    icon="pi pi-power-off" label="Logout"></button>
            </span>
        </div>
    </div>
    <p-overlayPanel #op>
        <ng-template pTemplate>
            <span style="font-size: 13px;">Username: <span
                    style="color: #08747b; font-size: 14px !important; text-transform: capitalize;">{{username}}
                </span></span><br />
        </ng-template>
    </p-overlayPanel>
    <!-- </div> -->
    <!-- <div class="col-1 md:col-1 lg:col-1 menu-bars" (click)="toggleMenu(display)">
        <span><i class="pi pi-fw pi-bars"></i></span>
    </div> -->
    <!-- <div>
            <div style="font-size: 12px;text-align: center;margin-top: -.5rem;">
                <span> <b>{{day}},</b></span>
                <span><b>{{dateToday | date}}</b></span>
            </div>
        </div> -->
    <!-- <div style="margin-top: -1.5rem;"[ngStyle.xs]="{'margin-top': '0rem'}" [ngStyle.sm]="{'margin-top': '-0.5rem'}">
            <div style="text-align: end !important;padding-right: 2rem;" [ngStyle.xs]="{'padding-right': '0.5rem'}">
                <span>
                    <i class="pi pi-fw pi-facebook" style="color: blue; font-size: 1.5rem"></i>
                </span>
                <span>
                    <i class="pi pi-fw pi-twitter" style="color: deepskyblue; font-size: 1.5rem"></i>
                </span>
                <span>
                    <i class="pi pi-fw pi-telegram" style="color: royalblue; font-size: 1.5rem"></i>
                </span>
                <span>
                    <i class="pi pi-fw pi-whatsapp" style="color: green; font-size: 1.5rem"></i>
                    : <span style="font-size: 14px;color: #544c4c;"><b>9800121223</b></span>
                </span>
            </div>
        </div> -->
</div>
<!-- <button type="button" pButton icon="pi pi-bars" label="Show" (click)="menu.toggle($event)"></button>
                <p-menu #menu [popup]="true" [model]="items"></p-menu> -->