<div fxFlex fxLayout="row" style="background: rgb(176 9 9) !important">
    <div fxFlex>
        <div fxFlex.gt-sm="90%" fxFlex.lt-md="65%" fxFlex.lt-lg="90%" fxFlexFill
            style="align-self: center; text-align: center !important; padding-left: 12%;" fxHide.xs fxShow.md fxShow.lg>
            <div>
                &nbsp;
                <img src="assets/header/stalin.png" style="height: 75px" />
                <img src="assets/header/murasoli-new.jpg" style="width: 25%; height: 75px;" />
                <!-- <span> -->
                <!-- <button  pButton (click)="logout()" icon="pi pi-power-off" label="Logout"></button> -->
                <!-- </span> -->
            </div>
        </div>
        <div fxFlex.gt-sm="10%" fxFlex.lt-md="35%" fxFlex.lt-lg="10%" fxLayoutAlign="center center" fxFlexFill
            style="color: rgb(22, 21, 21);">
            <span>
                <button style="border-radius: 20px;" *ngIf="!hidebutton" pButton (click)="logout()"
                    icon="pi pi-power-off" label="Logout"></button>
            </span>
        </div>
    </div>
    <p-overlayPanel #op>
        <ng-template pTemplate>
            <span style="font-size: 13px;">Username: <span
                    style="color: #08747b; font-size: 14px !important; text-transform: capitalize;">{{username}}
                </span></span><br />
        </ng-template>
    </p-overlayPanel>
</div>