<div class="col-12 md:col-12 lg:col-12">
    <div class="grid to-center">
        <div class="col-11 md:col-10 lg:col-10 box-shadow">
            <div #main class="col-12 form-border">
                <div class="col-12 header">
                    <span>District Master Entry</span>
                </div>
                <div #outerdiv class="col-12">
                    <div #innerdiv class="col-12">
                        <div class="col-12"></div>
                        <div class="grid to-center">
                            <div class="col-12 md:col-2 lg:col-3">
                                <span class="p-float-label">
                                    <input type="text" pInputText [(ngModel)]="districtName" />
                                    <label for="float-input">District Name</label>
                                </span>
                            </div>
                            <div class="col-12 md:col-2 lg:col-3" style="padding: 15px">
                                <p-radioButton name="Flag" label="Active" value=1 [(ngModel)]="selectedType" required>
                                </p-radioButton>&nbsp;
                                <p-radioButton name="Flag" label="Inactive" value=0 [(ngModel)]="selectedType" required>
                                </p-radioButton>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 div-txt-align-ct">
                    <button pButton type="button" icon="pi pi-fw pi-save" label="Save" (click)="onSave()"></button>
                </div>
            </div>
        </div>
    </div>
</div>