<div class="col-12 md:col-12 lg:col-12">
    <div class="grid to-center">
        <div class="col-11 md:col-10 lg:col-10 box-shadow">
            <div #main class="col-12 form-border">
                <div class="col-12 header">
                    <span>தலைப்பு செய்தி பதிவு/Flash News Entry</span>
                </div>
                <div #outerdiv class="col-12">
                    <div #innerdiv class="col-12">
                        <div class="col-12"></div>
                        <div class="grid to-center">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
