    <div class="col-12 md:col-12 lg:col-12" style="background: white !important;  border: 2px solid #18181826;
    border-radius: 5px; height: 100%;
    padding: 0;">
        <app-header></app-header>
        <div class="col-12 md:col-12 lg:col-12 no-pad" style="height: inherit; overflow-y: scroll; position: absolute;"> 
        <div class="col-12 md:col-12 lg:col-12 no-pad" style="height: 100%">
            <div class="grid" style="height: inherit;">
                <div *ngIf="hideMenu" class="col-2 md:col-2 lg:col-2 no-pad-btm">
                    <app-menu></app-menu>
                </div>
                <div class="col-10 md:col-10 lg:col:10" style="margin-top:1rem">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
    </div>