<div class="col-12"></div>
<div class="col-12"></div>
<div class="to-center" style="font-size: large;
color: darkcyan;
text-decoration: underline;">MURASOLI ADMIN DASHBOARD</div>
<div class="col-12 md:col-12 lg:col-12">
    <div class="grid to-center">
        <div class="col-11 md:col-10 lg:col-2 overview-box view1 card" routerLink="/daily-news-entry">
            <div class="p-col-12 p-md-12 p-lg-12 no-padding">
                <div class="dashboard-icon colour1"><i class="pi pi-book to-center"
                        style="font-size: 25px;padding-top:9px"></i></div>
            </div>
            <div class="p-col-12 p-md-12 p-lg-12">
                <span class="dsh-tab-label to-center">Daily News Entry</span>
            </div>
        </div>
        <div class="col-11 md:col-10 lg:col-2 overview-box view1 card" routerLink="/main-news-entry">
            <div class="p-col-12 p-md-12 p-lg-12 no-padding">
                <div class="dashboard-icon colour2"><i class="pi pi-id-card to-center"
                        style="font-size: 25px;padding-top:9px"></i></div>
            </div>
            <div class="p-col-12 p-md-12 p-lg-12">
                <span class="dsh-tab-label to-center">Main News Entry</span>
            </div>
        </div>
        <div class="col-11 md:col-10 lg:col-2 overview-box view1 card" routerLink="/flash-news-entry">
            <div class="p-col-12 p-md-12 p-lg-12 no-padding">
                <div class="dashboard-icon colour3"><i class="pi pi-bolt"
                        style="font-size: 25px; padding-top:12px; padding-left: 10px;"></i></div>
            </div>
            <div class="p-col-12 p-md-12 p-lg-12">
                <span class="dsh-tab-label to-center">Flash News Entry</span>
            </div>
        </div>
        <div class="col-11 md:col-10 lg:col-2 overview-box view1 card" routerLink="/user-master">
            <div class="p-col-12 p-md-12 p-lg-12 no-padding">
                <div class="dashboard-icon colour4"><i class="pi pi-user-plus to-center"
                        style="font-size: 25px; padding-top:9px"></i></div>
            </div>
            <div class="p-col-12 p-md-12 p-lg-12">
                <span class="dsh-tab-label to-center">User Master Entry</span>
            </div>
        </div>
        <div class="col-12 md:col-12 lg:col-12">
            <div class="grid to-center">
                <div class="col-11 md:col-10 lg:col-2 overview-box view1 card" routerLink="/district-master">
                    <div class="p-col-12 p-md-12 p-lg-12 no-padding">
                        <div class="dashboard-icon colour5"><i class="pi pi-map-marker to-center"
                                style="font-size: 25px; padding-top:9px"></i></div>
                    </div>
                    <div class="p-col-12 p-md-12 p-lg-12">
                        <span class="dsh-tab-label to-center">District Master Entry</span>
                    </div>
                </div>
                <div class="col-11 md:col-10 lg:col-2 overview-box view1 card" routerLink="/state-master">
                    <div class="p-col-12 p-md-12 p-lg-12 no-padding">
                        <div class="dashboard-icon colour6"><i class="pi pi-flag"
                                style="font-size: 25px; padding-top:11px; padding-left: 10px;"></i></div>
                    </div>
                    <div class="p-col-12 p-md-12 p-lg-12">
                        <span class="dsh-tab-label to-center">State Master Entry</span>
                    </div>

                </div>
                <div class="col-11 md:col-10 lg:col-2 overview-box view1 card" routerLink="/country-master">
                    <div class="p-col-12 p-md-12 p-lg-12 no-padding">
                        <div class="dashboard-icon colour7"><i class="pi pi-globe to-center"
                                style="font-size: 25px; padding-top:9px"></i></div>
                    </div>
                    <div class="p-col-12 p-md-12 p-lg-12">
                        <span class="dsh-tab-label to-center">Country Master Entry</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>