 
 @import url("../node_modules/primeicons/primeicons.css");
 @import url("../node_modules/primeng/resources/themes/saga-orange/theme.css");
 @import url("../node_modules/primeng/resources/primeng.min.css");
body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    overflow: hidden !important;
    height: 100vh;
    margin: 0 !important;
}
/* common styles */
 .to-center {
    display: flex !important;
    justify-content: center !important;
 }

 .no-pad {
    padding: 0 !important;
 }
 .no-pad-btm {
    padding-bottom: 0 !important;
 }

 .box-shadow {
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.div-txt-align-ct {
    text-align: center !important;
}

.header {
    background: #bf0909;
    color: white; 
    text-align: center;
    // border-radius: 10px;
    // #4f4e4e
}
.form-border {
    // border: 2px solid #181818b8;
    border-radius: 5px;
    padding: 0 !important;

}

.user-icon {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin: -2rem auto auto;
    background:  #2a2a2a;
}

.main-header {
text-align: -webkit-center;border: 2px solid #0d0d0d;
border-radius: 5px;
padding: 0;
background:rgb(0 0 0)
}
 
//header
.grid-center {
    display: flex;
    justify-content: center;
}

 
///primeng

.p-button {
    background: #272929e3 !important;
    border: .5px solid #6a6767 !important;
    transition: background-color .2s, color .2s, border-color .2s, box-shadow .2s;
    border-radius: 15px ;
}
.p-button:enabled:hover {
    background:#272929e3 !important;
    color: whitesmoke;
    border-color: #ffffffe3 !important;
}
.p-button:enabled:focus {
    box-shadow: 0 0 0 0.2rem #d8d6d6e3 !important;
    border-color: #d8d6d6e3 !important;
}
.p-dropdown {
    width: -webkit-fill-available !important;
    box-shadow: inherit !important;
    
}
.p-dropdown-open {
    box-shadow: 0 0 0 0.2rem #d8d6d6e3 !important;
    border-color: #d8d6d6e3 !important;
}
 
.p-inputtext {
    padding: 0.5rem !important;
    width: -webkit-fill-available !important;
}
.p-float-label input.p-filled ~ label {
    // color: #08d508 !important;
    color: #272929e3 !important;
 }
 .p-inputtext:enabled:hover {
    border-color: #272929e3 !important;
}

.p-inputgroup-addon {
    background: #e6e0e7 !important;
    color: #141515 !important;
}
.p-radiobutton .p-radiobutton-box.p-highlight:not(.p-disabled):hover {
    border-color: rgb(135 132 132 / 89%) !important;
    background: #403939 !important;
    color: #ffffff;
}
.p-radiobutton .p-radiobutton-box.p-highlight {
    border-color: rgb(135 132 132 / 89%) !important;
    background: #403939 !important;
}
.p-radiobutton .p-radiobutton-box:not(.p-disabled):not(.p-highlight):hover {
    border-color: rgb(135 132 132 / 89%) !important;
}
.p-dropdown:not(.p-disabled):hover {
    border-color: #303130 !important;
}
.p-inputtext:enabled:focus {
    box-shadow: 0 0 0 0.2rem #d3d3d3 !important;
    border-color: #666565 !important;
}

.p-radio-button .p-radiobutton-box .p-highlight:enabled:focus {
    box-shadow: 0 0 0 0.2rem #d3d3d3 !important;
    border-color: #666565 !important;
}

.p-datatable .p-datatable-tbody > tr > td {
    padding: .3rem .3rem !important;
}
.p-datatable .p-datatable-thead > tr > th {
    padding: .3rem .3rem !important;
}
// .p-dropdown:not(.p-disabled):hover {
//     border-color:  #666565 !important;
// }
 
//dashboard
.overview-box {
    display: block;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 100%;
    border-radius: 20px !important;
    margin: 5px;
}

.view1 {
    background-image: linear-gradient(90deg, #849491, #615454);
    border: 2px solid #a9a189 !important;
}

.view2 {
    background-image:  linear-gradient(45deg, #1b9366, #ffec26fa);
    border: 2px solid rgb(255 236 38 / 47%) !important;
}

.view3 {
    background-image: linear-gradient(45deg, #8b3d5d, #e5cef9d9);
    border: 2px solid#e5cef9d9 !important;
}
.view4 {
    background-image: linear-gradient(45deg, #a77f4b, #72414178);
    border: 2px solid#a77f4b !important;

}
.dsh-tab-label {
    font-size: 18px;
    font-weight: 500;
    color: whitesmoke;
    white-space: pre;
}

.dsh-tab-value {
    font-size: 20px;
    font-weight: 600;
    color: whitesmoke;
}

.dashboard-icon {
   border-radius: 70%;
    width: 50px;
    height: 50px;
    margin: auto;
}
.colour1 {
background: #efa133;
    }


 .colour2 {
background: #ffec26fa;
}
 .colour3 {
    background: #d5b6da;
 }

 .colour4 {
    background: #ffc967;
 }
 .colour5 {
   background:  #b8ed64;
 }
 .colour6 {
    background: darksalmon;
 }
 .colour7 {
    background: #95f6ff;
 }


 .menu-sidebar {
    // position: absolute;
    overflow-y: auto;
    background-color: #313131;
    box-shadow: 0 2px 12px 0 rgb(0 0 0 / 6%);
    padding: 0 !important;
    overflow-x: hidden;
    height: 100% !important;
    // transition: transform 0.4s cubic-bezier(0.05, 0.74, 0.2, 0.99);
    z-index: 5;
    // margin-left: -8px;
    // margin-top: -8px;
    border: 3px solid rgb(92 89 89 / 72%);
    font-family: 'primeicons';
    
}

.menu-item-title {
    color: #CDD2DB;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;

}

.menu-item-subtitle {
    color: #CDD2DB;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    margin: 10px;
}

.menu-bars {
    border-radius: 50%;
    background: #f3f9e7;
    width: 35px !important;
    height: 35px !important;
    display: flex;
    justify-content: center;
    color: #3c4962;
}
// :host ::ng-deep {
// .p-toast-message-custom {
//     background-color: #8A427A;
//     border: solid #8A427A;
//     border-width: 0 0 0 6px;
//     color: #2c1e30;
//     .p-toast-icon-close {
//         color: #2c1e30;
//     }
// }

